{% extends 'internship/base.html' %}
{% load static %}

{% block styles %} 
{% endblock styles %}

{% block title %}Internships{% endblock title %}
{% block search %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by company" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock search %}

{% block content %}
    {% for internship in internship_list %}
            <h5 class="font-italic ml-5 mt-5">{{ internship.position_name }}</h6> 
            <h6 class="ml-5 mt-3 card-body card">
                <div class="row">
                    <div class="col">
                        {{ internship.company.company_name }} 
                        <footer class="mt-1 font-weight-light">
                            {{ internship.location }} | {{ internship.date_added }} | {{ internship.days_ago_posted }}
                        </footer>
                     </div>
                    <div class="d-flex flex-row col-4 text-center">
                        <div class="p-2">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="position_name" value="{{ internship.position_name }}">
                            <input type="hidden" name="company_name" value="{{ internship.company_name }}">
                            <button name="link_button" type="submit" class="btn btn-outline-secondary">Get Link</button>                   
                        </form>
                    </div>
                        <div class="p-2">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="internship_pk" value="{{ internship.pk }}">
                            <button name="add_button" class="btn btn-outline-success">Add to applied</button>  
                        </form> 
                    </div>                
                    </div>
                </div>
            </h6>
            
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info ml-5 mt-5" href="?page=1">First</a>
            <a class="btn btn-outline-info ml-5 mt-5" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info ml-5 mt-5" href="?page={{ page_obj.next_page_number }}">Next</a>  
            <a class="btn btn-outline-info ml-5 mt-5" href="?page={{ page_obj.paginator.num_pages }}">Last</a>        
        {% endif %}
    {% endif %}
{% endblock content %}