{% extends 'internship/base.html' %}
{% load static %}

{% block styles %} 
    <link rel="stylesheet" type="text/css" href="{% static 'home_style.css' %}">
{% endblock styles %}

{% block title %}Internships{% endblock title %}

{% block content %}
    {% for internship in internship_list %}
            <h5 class="font-italic ml-5 mt-5">{{ internship.pk }}. {{ internship.position_name }}</h6> 
            <h6 class="ml-5 mt-3 card-body card">
                <div class="row">
                    <div class="col">
                        {{ internship.company_name }} 
                        <footer class="mt-1 font-weight-light">
                            {{ internship.location }} | {{ internship.date_added }} | {{ internship.days_ago_posted }}
                        </footer>
                     </div>
                    <div class="col-4 text-center">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="position_name" value="{{ internship.position_name }}">
                            <input type="hidden" name="company_name" value="{{ internship.company_name }}">
                            <button type="submit" class="btn btn-outline-secondary">Get Link</button>                   
                        </form>
                    </div>
                </div>
            </h6>
            
    {% endfor %}
{% endblock content %}